<div class="row">
    <div>
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
        </button>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="fotodeperfil">
    </div>


    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 nombre">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>Diseñadora de modas incursionando en el mundo del desarrollo web. Me destaco por mi excelente predisposición y mis ganas de aprender y ayuar a los demás. Cuento con excelentes habilidades de colaboración dentro de un equipo productivo.</p>
        </span>
    </div>
</div>