<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://argentinaprograma.inti.gob.ar"></a><img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/ana-carolina-chavez-castro-611490253/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://twitter.com/CaritoChavezz"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://github.com/NinaChavezz"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.instagram.com/ninachavezz/"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://www.facebook.com/carito.chavezz/"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button> 
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>     
        </div>
    </div>
</div>
